@model INVENTORYWeb.Models.ViewModels.RequestItemsListViewModel

<div class="pcoded-content">
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Transaksi</h5>
                        <p class="m-b-0">Permintaan Barang</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="page-footer-title text-right">
                        <h4 class="m-b-0"><a href="/" class="text-white">Help</a> </h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action=""> <i class="fa fa-home"></i></a></li>
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Category" asp-action="">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page body start -->
                <div class="page-body invoice-list-page">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 pull-xl-0 filter-bar">
                            <!-- Navigation start -->
                            <nav class="navbar navbar-light bg-faded m-b-30 p-10">
                                <ul class="nav navbar-nav">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#!">Filter: <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#!" id="bydate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-clock-time"></i> By Date</a>
                                        <div class="dropdown-menu" aria-labelledby="bydate">
                                            <a class="dropdown-item" href="#!">Show all</a>
                                            @*  <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#!">Today</a>
                                            <a class="dropdown-item" href="#!">Yesterday</a>
                                            <a class="dropdown-item" href="#!">This week</a>
                                            <a class="dropdown-item" href="#!">This month</a>
                                            <a class="dropdown-item" href="#!">This year</a> *@
                                        </div>
                                    </li>
                                    <!-- end of by date dropdown -->
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#!" id="bystatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-chart-histogram-alt"></i> By Status</a>
                                        <div class="dropdown-menu" aria-labelledby="bystatus">
                                            <a class="dropdown-item" href="#!">Show all</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#!">New Request</a>
                                            <a class="dropdown-item" href="#!">Approve</a>
                                            <a class="dropdown-item" href="#!">Rejected</a>
                                            <a class="dropdown-item" href="#!">Process</a>
                                            <a class="dropdown-item" href="#!">Complete</a>
                                        </div>
                                    </li>

                                </ul>
                                <div class="nav-item nav-grid">
                                    <a type="button" class="btn btn-sm btn-primary waves-effect waves-light m-r-10" asp-area="Users" asp-controller="RequestItems" asp-action="Upsert" data-toggle="tooltip" data-placement="top" title="tambah data">
                                        <i class="icofont icofont-plus m-r-5"></i>
                                    </a>
                                    <span class="m-r-15">View Mode: </span>

                                    <a type="button" class="btn btn-sm btn-primary waves-effect waves-light" asp-area="Users" asp-controller="RequestItems" asp-action="Index" data-toggle="tooltip" data-placement="top" title="grid view">
                                        <i class="icofont icofont-table"></i>
                                    </a>
                                </div>
                                <!-- end of by priority dropdown -->

                            </nav>
                            <!-- Navigation end  -->
                            <div class="row">

                                @foreach (var obj in Model.listData)
                                {
                                    {
                                      
                                        var status = @obj.STATUS;

                                        switch (status)
                                        {
                                            case "New Request":
                                                status = "btn-primary";
                                                break;
                                            case "Rejected":
                                                status = "label-danger";
                                                break;
                                            case "Approve":
                                                status = "btn-success";
                                                break;
                                            case "Process":
                                                status = "btn-success";
                                                break;
                                            case "Complete":
                                                status = "label-info";
                                                break;

                                        }
                                    }
                                    <div class="col-sm-4">
                                        <div class="card card-border-primary">
                                            <div class="card-header">
                                                <h5>@obj.REQUEST_ORDER_NO </h5>
                                                <!-- <span class="label label-default f-right"> 28 January, 2015 </span> -->
                                                <div class="dropdown-secondary dropdown f-right">
                                                    @if (@obj.STATUS == "New Request")
                                                    {
                                                        <button class="btn btn-primary btn-mini waves-effect waves-light" type="button" id="dropdown6" aria-haspopup="true" aria-expanded="false">@obj.STATUS</button>
                                                        <span class="f-left m-r-5 text-inverse">Status : </span>
                                                    }
                                                    else if (@obj.STATUS == "Approve")
                                                    {
                                                        <button class="btn btn-success btn-mini waves-effect waves-light" type="button" id="dropdown6" aria-haspopup="true" aria-expanded="false">@obj.STATUS</button>
                                                        <span class="f-left m-r-5 text-inverse">Status : </span>
                                                    }
                                                    else if (@obj.STATUS == "Process")
                                                    {
                                                        <button class="btn btn-success btn-mini dropdown-toggle waves-effect waves-light" type="button" id="dropdown6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@obj.STATUS</button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdown2" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                                            <a class="dropdown-item waves-light waves-effect" onclick=AddCompleted(@obj.ID)><i class="icofont icofont-check-circled"></i> Completed</a>
                                                        </div>
                                                        <span class="f-left m-r-5 text-inverse">Status : </span>
                                                    }
                                                    
                                                    else if (@obj.STATUS == "Complete")
                                                    {
                                                        <button class="btn btn-info btn-mini waves-effect waves-light" type="button" id="dropdown6" aria-haspopup="true" aria-expanded="false">@obj.STATUS</button>
                                                        <span class="f-left m-r-5 text-inverse">Status : </span>
                                                    }
                                                    else
                                                    {
                                                        @*  <span class="f-left m-r-5 text-inverse">Status : <strong class="label label-danger">@obj.STATUS &nbsp;&nbsp;</strong></span> *@

                                                        <button class="btn btn-danger btn-mini waves-effect waves-light" type="button" id="dropdown6" aria-haspopup="true" aria-expanded="false">@obj.STATUS</button>
                                                        <span class="f-left m-r-5 text-inverse">Status : </span>
                                                    }

                                                </div>
                                            </div>
                                            <div class="card-block">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <ul class="list list-unstyled">
                                                            <li>Proyek: @obj.PROJECT_NAME</li>
                                                            <li>Tanggal: <span class="text-semibold">@obj.REQUEST_DATE.Value.ToString("dd/MM/yyyy")</span></li>
                                                            <li>Keterangan: <span class="text-semibold">@obj.NOTES</span></li>
                                                        </ul>
                                                    </div>
                                                 
                                                </div>
                                            </div>  
                                            <div class="card-footer">
                                                @if (@obj.DUEDATE != null)
                                                {
                                                    <div class="task-list-table">
                                                        <p class="task-due"><strong> Due Date: </strong><strong class="label label-info">@obj.DUEDATE.Value.ToString("dd/MM/yyyy")</strong></p>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="task-list-table">
                                                        <p class="task-due"><strong> Due Date: </strong></p>
                                                    </div>
                                                }
                                                <div class="task-board m-0">
                                                    <a asp-area="Users" asp-controller="RequestItems" asp-action="ViewApproval" asp-route-id="@obj.ID" class="btn btn-info btn-mini b-none"><i class="icofont icofont-eye-alt m-0"></i></a>
                                                  
                                                    @if (@obj.STATUS == "New Request")
                                                    {
                                                        <div class="dropdown-secondary dropdown">
                                                            <button class="btn btn-info btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown14" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-navigation-menu"></i></button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdown14" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                                                <a class="dropdown-item waves-light waves-effect" asp-area="Users" asp-controller="RequestItems" asp-action="Upsert" asp-route-id="@obj.ID"><i class="icofont icofont-ui-edit"></i>Edit</a>
                                                                <a class="dropdown-item waves-light waves-effect" onclick=Delete("@obj.ID")><i class="icofont icofont-delete-alt"></i>Remove</a>
                                                            </div>
                                                          
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts {


    <script type="text/javascript">       

        function AddCompleted(id) {
            var url = "@Url.Action("UpdateCompleted", "RequestItems", new { Area = "Users" })";
            swal({
                title: "Selesaikan Transaksi Anda!",
                text: "Keterangan  :",
                type: "input",
                showCancelButton: true,
                closeOnConfirm: false,
                inputPlaceholder: "keterangan"
            }, function (inputValue) {
                if (inputValue === false) return false;
              
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {
                        "id": id,
                        "notes": inputValue
                    },
                    success: function (data) {
                        if (data.success) {
                            swal("Complated!", data.message, "success");
                        }
                        else {
                            swal("Complated!", data.message, "error");
                        }
                        window.location.reload(true);
                    }
                });
            });

        }

        function Delete(id) {
            var url = "@Url.Action("Delete", "RequestItems", new { Area = "Users" })";
            swal({
                title: "Apakah Anda yakin ingin Menghapus?",
                text: "Anda tidak akan dapat memulihkan data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Hapus",
                closeOnConfirm: false
            },
            function () {
                $.ajax({
                    type: "DELETE",
                    url: url,
                    data: {
                        "id": id
                    },
                    success: function (data) {                           
                        if (data.success) {
                            window.location.reload(true);
                            
                        }
                        else {
                            swal("Hapus!", data.message, "error");
                        }
                                              
                    }
                });
            });

        }

    </script>

}