@model INVENTORYWeb.Models.ViewModels.ReportRequestItemsViewModel

<div class="pcoded-content">
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Laporan</h5>
                        <p class="m-b-0">Permintaan Barang</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="page-footer-title text-right">
                        <h4 class="m-b-0"><a href="/" class="text-white">Help</a> </h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action=""> <i class="fa fa-home"></i></a></li>
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Category" asp-action="">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>  

    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">

                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Cari Data</h5>
                                    @* <div class="nav-item nav-grid">
                                        <div class="tool-box">
                                          

                                            <div class="nav-item nav-grid">
                                                <a type="button" class="waves-light m-r-15" asp-area="Admin" asp-controller="ReportRequestItems" asp-action="ExportData" data-toggle="tooltip" data-placement="top">
                                                    <i class="fa fa-file-pdf-o text-c-red f-30"></i>
                                                </a>
                                                <a type="button" class="waves-light" asp-area="Admin" asp-controller="ReportRequestItems" asp-action="ExportData" data-toggle="tooltip" data-placement="top">
                                                    <i class="fa fa-file-excel-o text-c-green f-30"></i>
                                                </a>
                                                <span class="f-left m-r-5 text-inverse">Download:&nbsp;&nbsp</span>
                                            </div>


                                        </div>

                                    </div> *@
                                </div>
                                <div class="card-block">  
                                 

                                    <form method="get">
                                        <div class="col-sm-12">
                                            <div class="form-group row">
                                                <div class="col-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">No Transaksi</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" asp-for="request_number" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Nama Proyek</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" asp-for="project_name" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Periode</label>
                                                        <div class="col-sm-5">
                                                            <select asp-for="month" class="form-control form-select">
                                                                <option selected value="">All</option>
                                                                <option value="1">Januari</option>
                                                                <option value="2">Februari</option>
                                                                <option value="3">Maret</option>
                                                                <option value="4">April</option>
                                                                <option value="5">Mei</option>
                                                                <option value="6">Juni</option>
                                                                <option value="7">Juli</option>
                                                                <option value="8">Agustus</option>
                                                                <option value="9">September</option>
                                                                <option value="10">Oktober</option>
                                                                <option value="11">November</option>
                                                                <option value="12">Desember</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <input type="number" asp-for="year" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Status</label>
                                                        <div class="col-sm-9">
                                                            <select asp-for="status" asp-items="@ViewBag.listStatus" class="form-control form-select">
                                                                <option selected value="">All</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </div>

                                       @*  <div class="row text-center">
                                            <div class="col-sm-12 invoice-btn-group text-center">
                                                <button type="submit" class="btn btn-primary waves-effect waves-light m-r-15" data-placement="right"><i class="icofont icofont-ui-search"></i>Cari</button>
                                                <a type="button" asp-area="Admin" asp-controller="ReportRequestItems" asp-action="" class="btn btn-primary waves-effect waves-light" data-placement="right"><i class="icofont icofont-ui-rotation"></i>Reset</a>

                                            </div>

                                        </div> *@


                                        <div class="col-sm-12">
                                            <div class="form-group row">
                                                <div class="col-sm-6">
                                                 
                                                    <button type="submit" class="btn btn-primary waves-effect waves-light m-r-15 btn-sm" data-placement="right"><i class="icofont icofont-ui-search"></i>Cari</button>
                                                    <a type="button" asp-area="Admin" asp-controller="ReportRequestItems" asp-action="" class="btn btn-primary waves-effect waves-light btn-sm" data-placement="right"><i class="icofont icofont-ui-rotation"></i>Reset</a>

                                                </div>
                                             
                                                <div class="col-sm-6">                                                  
                                                 
                                                    @* <div class="nav-item nav-grid">
                                                        <span class="f-button m-r-5 text-inverse">Download:&nbsp;&nbsp</span>
                                                        <a type="button" class="waves-light m-r-15" asp-area="Admin" asp-controller="ReportRequestItems" asp-action="ExportData" data-toggle="tooltip" data-placement="top">
                                                            <i class="fa fa-file-pdf-o text-c-red f-30"></i>
                                                        </a>
                                                        <a type="button" class="waves-light" asp-area="Admin" asp-controller="ReportRequestItems" asp-action="ExportData" data-toggle="tooltip" data-placement="top">
                                                            <i class="fa fa-file-excel-o text-c-green f-30"></i>
                                                        </a>
                                                       
                                                    </div> *@
                                                    <div class="nav-item nav-grid">
                                                        <div class="tool-box">
                                                            <div class="dropdown-secondary dropdown f-right">
                                                          
                                                                <button class="btn btn-primary btn-sm dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown16" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-download"></i></button>
                                                                <div class="dropdown-menu" aria-labelledby="dropdown16" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                                                    <a class="dropdown-item waves-light waves-effect" onclick="ExportPDF()"><i class="fa fa-file-pdf-o text-c-red f-15"></i> File.pdf</a>
                                                                    <a class="dropdown-item waves-light waves-effect" onclick="ExportExcel()"><i class="fa fa-file-excel-o text-c-green f-15"></i> File.xls</a>
                                                                    
                                                                   
                                                                </div>
                                                             

                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-block">                                 
                                    <div class="dt-responsive table-responsive">
                                        <table id="no-style" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>No Transaksi</th>
                                                    <th>Nama Proyek</th>
                                                    <th>User</th>
                                                    <th>Tanggal Permintaan</th>
                                                    <th>Keterangan</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.listData != null)
                                                {
                                                    @foreach (var item in Model.listData)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @item.REQUEST_ORDER_NO
                                                            </td>
                                                            <td>
                                                                @item.PROJECT_NAME
                                                            </td>
                                                            <td>
                                                                @item.CREATE_BY
                                                            </td>
                                                            <td>
                                                                @if (@item!.REQUEST_DATE!.HasValue)
                                                                {
                                                                    @item.REQUEST_DATE.Value.ToString("yyyy-MM-dd")
                                                                }

                                                            </td>                                                           
                                                            <td>
                                                                @item.NOTES
                                                            </td>
                                                            <td>
                                                                @item.STATUS
                                                            </td>                                                           
                                                        </tr>
                                                    }
                                                }


                                            </tbody>
                                        </table>
                                    </div>                                 
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- Page body end -->
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">
        function ExportExcel() {

            if ($("#request_number").val() == '' && $("#project_name").val() == '' && $("#month").val() == '' && $("#year").val() == '' && $("#status").val() == '') {
                new PNotify({
                    title: 'Information ',
                    text: "Pilih pencarian data terlebih dahulu..!",
                    icon: 'icofont icofont-info-square',
                    type: 'info'
                });
            }
            else {
                var url = "@Url.Action("ExportData", "ReportRequestItems", new { Area = "Admin" })";
                window.location = url;
            }            
           
        }
        function ExportPDF() {

            if ($("#request_number").val() == '' && $("#project_name").val() == '' && $("#month").val() == '' && $("#year").val() == '' && $("#status").val() == '') {
                new PNotify({
                    title: 'Information ',
                    text: "Pilih pencarian data terlebih dahulu..!",
                    icon: 'icofont icofont-info-square',
                    type: 'info'
                });
            }
            else {
                var url = "@Url.Action("ExportPDF", "ReportRequestItems", new { Area = "Admin" })";
                window.open(url, "_blank");
            }

        }

     </script>
}
